*{
    box-sizing: border-box;
}
.container{
    max-width: 1840px;
    width: 100%;
    margin: auto;
}
.photo{
    max-width: 1840px;
    display: flex;
    justify-content: space-between;
}
.photo img{
    width: 16%;
    border-radius: 10px;
}
.right-side img{
    border-radius: 20px;
    width: 200px  ;
    margin: 10px;
    float: left;
}
.right{
    width: 70%;
    margin-right: 15px;
}
.left{
    background-color: grey;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}
.main{
    display: flex;
}
